.container-soft-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
    padding-top: 8%;
  }
  
  .container-soft-skills .cards-soft-skills {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }
  
  .container-soft-skills .cards-soft-skills .content-soft-skills {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
  }
  
  .container-soft-skills .cards-soft-skills:hover .content-soft-skills {
    transform: translateY(0px);
    opacity: 1;
  }
  
  .container-soft-skills .cards-soft-skills .content-soft-skills h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
  }
  
  .container-soft-skills .cards-soft-skills .content-soft-skills h3 {
    font-size: 2.5em;
    color: #fff;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .container-soft-skills .cards-soft-skills .content-soft-skills p {
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
    text-align: left;
  }
  
  .container-soft-skills .cards-soft-skills .content-soft-skills a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 900;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
  }
  

  h4{
    font-size:1.8rem;
    
  }